---
import Baselayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
---

<Baselayout title="Astro + UnoCSS">
  <h1 class="text-4xl font-bold text-center text-purple-800">Astro + UnoCSS</h1>
  <div class="grid place-items-center h-screen content-center">
    <Button>UnoCSS Button in Astro!</Button>
    <a href="/markdown-page" class="p-4 underline"
      >Markdown is also supported...</a
    >
  </div>
</Baselayout>
